In [2]:
#Archivo creado y bibliotecas importadas:

import pandas as pd
import numpy as np

In [2]:
# Leer el archivo de trabajo:

df = pd.read_csv('team.csv')

In [3]:
# Para comprobar que cantidad de registros y columnas tiene el dataset cargado:

df.shape

(30, 7)

In [4]:
# Una vez cargado el dataset, y comprobado su tamaño, se procede a verificar el contenido con una vista truncada:
df.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949.0
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946.0
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970.0
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002.0
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966.0

In [5]:
# Selecciona y filtrar los años/equipos que se trabajarán en el proyecto: 

lista_filtro_equipos = ['Boston Celtics', 'New York Knicks', 'Minnesota Timberwolves', 'Oklahoma City Thunder', 'Denver Nuggets']
df_equipos_filtrados = df[df['full_name'].isin(lista_filtro_equipos)]
df_equipos_filtrados.shape

(5, 7)

In [6]:
df_equipos_filtrados.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946.0
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976.0
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989.0
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946.0
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967.0

In [8]:
df_equipos_filtrados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 1 to 23
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            5 non-null      int64
 1   full_name     5 non-null      object
 2   abbreviation  5 non-null      object
 3   nickname      5 non-null      object
 4   city          5 non-null      object
 5   state         5 non-null      object
 6   year_founded  5 non-null      float64
dtypes: float64(1), int64(1), object(5)
memory usage: 320.0+ bytes

In [9]:
# Transformar la columna 'year_founded' a entero
df_equipos_filtrados['year_founded'] = df_equipos_filtrados['year_founded'].astype(int)

C:\Users\Maria\AppData\Local\Temp\ipykernel_19652\4187913430.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_equipos_filtrados['year_founded'] = df_equipos_filtrados['year_founded'].astype(int)

In [10]:
# Mostrar los valores únicos en la columna 'year_founded'
print("Valores únicos en la columna 'year_founded':")
print(df_equipos_filtrados['year_founded'].unique())

# Mostrar los primeros 10 valores para inspección manual
print("\nVista previa de los primeros 5 valores:")
print(df_equipos_filtrados['year_founded'].head(5))

Valores únicos en la columna 'year_founded':
[1946 1976 1989 1967]

Vista previa de los primeros 5 valores:
1     1946
6     1976
13    1989
15    1946
23    1967
Name: year_founded, dtype: int64

In [11]:
# Verificar valores nulos restantes en todo el DataFrame
print("Valores nulos restantes:")
print(df_equipos_filtrados.isnull().sum())

Valores nulos restantes:
id              0
full_name       0
abbreviation    0
nickname        0
city            0
state           0
year_founded    0
dtype: int64

In [12]:
# Guardar los datos filtrados en un archivo con el nombre TeamFiltrado.csv a fin de poder utilizarlo luego

df_equipos_filtrados.to_csv('TeamFiltrado.csv', index=False)

# Confirmación
print("Archivo guardado exitosamente como 'TeamFiltrado.csv'")

Archivo guardado exitosamente como 'TeamFiltrado.csv'

Comienzo ETL Common Player Info

In [3]:
# Leer el archivo de trabajo:

df = pd.read_csv('common_player_info.csv')

In [4]:
df.shape

(4171, 33)

In [5]:
#df.head()
#df.info()
print(df["team_abbreviation"])

0       POR
1       LAL
2       SAC
3       VAN
4       GOS
       ...
4166    CHI
4167    CLE
4168    DET
4169    LAC
4170    WAS
Name: team_abbreviation, Length: 4171, dtype: object

In [6]:
# Selecciona y filtrar los años/equipos que se trabajarán en el proyecto: 

lista_filtro_equipos_abv = ['BOS', 'DEN', 'MIN', 'NYK', 'OKC']
df_equipos_abv_filtrados = df[df['team_abbreviation'].isin(lista_filtro_equipos_abv)]
df_equipos_abv_filtrados.shape

(524, 33)

In [8]:
df_equipos_abv_filtrados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 524 entries, 10 to 4138
Data columns (total 33 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   person_id                         524 non-null    int64
 1   first_name                        524 non-null    object
 2   last_name                         524 non-null    object
 3   display_first_last                524 non-null    object
 4   display_last_comma_first          524 non-null    object
 5   display_fi_last                   524 non-null    object
 6   player_slug                       524 non-null    object
 7   birthdate                         524 non-null    object
 8   school                            522 non-null    object
 9   country                           524 non-null    object
 10  last_affiliation                  524 non-null    object
 11  height                            524 non-null    object
 12  weight                            524 non-null    float64
 13  season_exp                        524 non-null    float64
 14  jersey                            501 non-null    object
 15  position                          524 non-null    object
 16  rosterstatus                      524 non-null    object
 17  games_played_current_season_flag  524 non-null    object
 18  team_id                           524 non-null    int64
 19  team_name                         524 non-null    object
 20  team_abbreviation                 524 non-null    object
 21  team_code                         524 non-null    object
 22  team_city                         524 non-null    object
 23  playercode                        524 non-null    object
 24  from_year                         524 non-null    float64
 25  to_year                           524 non-null    float64
 26  dleague_flag                      524 non-null    object
 27  nba_flag                          524 non-null    object
 28  games_played_flag                 524 non-null    object
 29  draft_year                        524 non-null    object
 30  draft_round                       504 non-null    object
 31  draft_number                      491 non-null    object
 32  greatest_75_flag                  524 non-null    object
dtypes: float64(4), int64(2), object(27)
memory usage: 139.2+ KB

In [7]:
# Verificar valores nulos restantes en todo el DataFrame
print("Valores nulos restantes:")
print(df_equipos_abv_filtrados.isnull().sum())

Valores nulos restantes:
person_id                            0
first_name                           0
last_name                            0
display_first_last                   0
display_last_comma_first             0
display_fi_last                      0
player_slug                          0
birthdate                            0
school                               2
country                              0
last_affiliation                     0
height                               0
weight                               0
season_exp                           0
jersey                              23
position                             0
rosterstatus                         0
games_played_current_season_flag     0
team_id                              0
team_name                            0
team_abbreviation                    0
team_code                            0
team_city                            0
playercode                           0
from_year                            0
to_year                              0
dleague_flag                         0
nba_flag                             0
games_played_flag                    0
draft_year                           0
draft_round                         20
draft_number                        33
greatest_75_flag                     0
dtype: int64

Se podrìa filtrar a aquello jugadores que estuvieron activos desde 2018, pero por razones de analisis posterior, se decide por ahora dejar el dataset en este punto (filtrar por columna 'to year' > 2018)

In [9]:
# Guardar los datos filtrados en un archivo con el nombre CommonPlayerFiltrado.csv a fin de poder utilizarlo luego

df_equipos_abv_filtrados.to_csv('CommonPlayerFiltrado.csv', index=False)

# Confirmación
print("Archivo guardado exitosamente como 'CommonPlayerFiltrado.csv'")

Archivo guardado exitosamente como 'CommonPlayerFiltrado.csv'

Comenzamos a trabajar con el archivo game.csv

In [13]:
#Archivo creado y bibliotecas importadas:

import pandas as pd
import numpy as np

In [14]:
# Leer el archivo de trabajo:

df_game = pd.read_csv('game.csv')

In [15]:
# Para comprobar que cantidad de registros y columnas tiene el dataset cargado:

df_game.shape

(65698, 55)

In [16]:
# Una vez cargado el dataset, y comprobado su tamaño, se procede a verificar el contenido con una vista truncada:
df_game.head()

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,24600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,NaN,NaN,NaN,NaN,NaN,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,24600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,50.0,17,0,Regular Season

In [17]:
df_game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65698 entries, 0 to 65697
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               65698 non-null  int64
 1   team_id_home            65698 non-null  int64
 2   team_abbreviation_home  65698 non-null  object
 3   team_name_home          65698 non-null  object
 4   game_id                 65698 non-null  int64
 5   game_date               65698 non-null  object
 6   matchup_home            65698 non-null  object
 7   wl_home                 65696 non-null  object
 8   min                     65698 non-null  int64
 9   fgm_home                65685 non-null  float64
 10  fga_home                50251 non-null  float64
 11  fg_pct_home             50208 non-null  float64
 12  fg3m_home               52480 non-null  float64
 13  fg3a_home               47015 non-null  float64
 14  fg3_pct_home            46624 non-null  float64
 15  ftm_home                65682 non-null  float64
 16  fta_home                62694 non-null  float64
 17  ft_pct_home             62689 non-null  float64
 18  oreb_home               46762 non-null  float64
 19  dreb_home               46699 non-null  float64
 20  reb_home                49969 non-null  float64
 21  ast_home                49893 non-null  float64
 22  stl_home                46849 non-null  float64
 23  blk_home                47072 non-null  float64
 24  tov_home                47014 non-null  float64
 25  pf_home                 62842 non-null  float64
 26  pts_home                65698 non-null  float64
 27  plus_minus_home         65698 non-null  int64
 28  video_available_home    65698 non-null  int64
 29  team_id_away            65698 non-null  int64
 30  team_abbreviation_away  65698 non-null  object
 31  team_name_away          65698 non-null  object
 32  matchup_away            65698 non-null  object
 33  wl_away                 65696 non-null  object
 34  fgm_away                65685 non-null  float64
 35  fga_away                50251 non-null  float64
 36  fg_pct_away             50209 non-null  float64
 37  fg3m_away               52480 non-null  float64
 38  fg3a_away               47015 non-null  float64
 39  fg3_pct_away            46736 non-null  float64
 40  ftm_away                65685 non-null  float64
 41  fta_away                62694 non-null  float64
 42  ft_pct_away             62692 non-null  float64
 43  oreb_away               46762 non-null  float64
 44  dreb_away               46700 non-null  float64
 45  reb_away                49973 non-null  float64
 46  ast_away                49897 non-null  float64
 47  stl_away                46849 non-null  float64
 48  blk_away                47073 non-null  float64
 49  tov_away                47013 non-null  float64
 50  pf_away                 62847 non-null  float64
 51  pts_away                65698 non-null  float64
 52  plus_minus_away         65698 non-null  int64
 53  video_available_away    65698 non-null  int64
 54  season_type             65698 non-null  object
dtypes: float64(36), int64(9), object(10)
memory usage: 27.6+ MB

In [18]:
# Selecciona y filtrar los años/equipos que se trabajarán en el proyecto: 

lista_filtro_game = ['BOS', 'DEN', 'MIN', 'NYK', 'OKC']

# Filtrar valores que contengan alguna de las cadenas en la lista
df_game_filtrado = df_game[df_game['matchup_home'].str.contains('|'.join(lista_filtro_game))]

# Verificar el tamaño del DataFrame filtrado
print(df_game_filtrado.shape)

(18944, 55)

In [19]:
df_game_filtrado.head()

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
7,21946,1610612738,BOS,Boston Celtics,24600008,1946-11-05 00:00:00,BOS vs. CHS,L,0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,57.0,2,0,Regular Season
10,21946,1610610034,BOM,St. Louis Bombers,24600012,1946-11-07 00:00:00,BOM vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,16.0,68.0,5,0,Regular Season

In [20]:
# Convertir la columna 'game_date' a tipo datetime
df_game_filtrado['game_date'] = pd.to_datetime(df_game_filtrado['game_date'])

# Filtrar las filas desde 2018
df_game_filtrado2= df_game_filtrado[df_game_filtrado['game_date'] >= '2018-10-01']

# Verificar el resultado
print(df_game_filtrado2.shape)
print(df_game_filtrado2.head())

(2041, 55)
       season_id  team_id_home team_abbreviation_home         team_name_home  \
59255      22018    1610612738                    BOS         Boston Celtics
59256      22018    1610612744                    GSW  Golden State Warriors
59257      22018    1610612759                    SAS      San Antonio Spurs
59259      22018    1610612746                    LAC            LA Clippers
59260      22018    1610612752                    NYK        New York Knicks

        game_id  game_date matchup_home wl_home  min  fgm_home  ...  reb_away  \
59255  21800001 2018-10-16  BOS vs. PHI       W  240      42.0  ...      47.0
59256  21800002 2018-10-16  GSW vs. OKC       W  240      42.0  ...      45.0
59257  21800010 2018-10-17  SAS vs. MIN       W  240      40.0  ...      46.0
59259  21800012 2018-10-17  LAC vs. DEN       L  240      35.0  ...      56.0
59260  21800007 2018-10-17  NYK vs. ATL       W  240      45.0  ...      45.0

       ast_away  stl_away  blk_away  tov_away  pf_away  pts_away  \
59255      18.0       8.0       5.0      16.0     20.0      87.0
59256      21.0      12.0       6.0      15.0     21.0     100.0
59257      20.0       9.0       2.0      11.0     27.0     108.0
59259      20.0       6.0       9.0      11.0     22.0     107.0
59260      19.0       7.0       3.0      24.0     30.0     107.0

       plus_minus_away  video_available_away     season_type
59255              -18                     1  Regular Season
59256               -8                     1  Regular Season
59257               -4                     1  Regular Season
59259                9                     1  Regular Season
59260              -19                     1  Regular Season

[5 rows x 55 columns]

C:\Users\Maria\AppData\Local\Temp\ipykernel_3144\3577179761.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game_filtrado['game_date'] = pd.to_datetime(df_game_filtrado['game_date'])

In [21]:
# Verificar valores nulos restantes en todo el DataFrame
print("Valores nulos restantes:")
print(df_game_filtrado2.isnull().sum())

Valores nulos restantes:
season_id                 0
team_id_home              0
team_abbreviation_home    0
team_name_home            0
game_id                   0
game_date                 0
matchup_home              0
wl_home                   0
min                       0
fgm_home                  0
fga_home                  0
fg_pct_home               0
fg3m_home                 0
fg3a_home                 0
fg3_pct_home              0
ftm_home                  0
fta_home                  0
ft_pct_home               0
oreb_home                 0
dreb_home                 0
reb_home                  0
ast_home                  0
stl_home                  0
blk_home                  0
tov_home                  0
pf_home                   0
pts_home                  0
plus_minus_home           0
video_available_home      0
team_id_away              0
team_abbreviation_away    0
team_name_away            0
matchup_away              0
wl_away                   0
fgm_away                  0
fga_away                  0
fg_pct_away               0
fg3m_away                 0
fg3a_away                 0
fg3_pct_away              0
ftm_away                  0
fta_away                  0
ft_pct_away               0
oreb_away                 0
dreb_away                 0
reb_away                  0
ast_away                  0
stl_away                  0
blk_away                  0
tov_away                  0
pf_away                   0
pts_away                  0
plus_minus_away           0
video_available_away      0
season_type               0
dtype: int64

In [22]:
df_game_filtrado2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2041 entries, 59255 to 65695
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               2041 non-null   int64
 1   team_id_home            2041 non-null   int64
 2   team_abbreviation_home  2041 non-null   object
 3   team_name_home          2041 non-null   object
 4   game_id                 2041 non-null   int64
 5   game_date               2041 non-null   datetime64[ns]
 6   matchup_home            2041 non-null   object
 7   wl_home                 2041 non-null   object
 8   min                     2041 non-null   int64
 9   fgm_home                2041 non-null   float64
 10  fga_home                2041 non-null   float64
 11  fg_pct_home             2041 non-null   float64
 12  fg3m_home               2041 non-null   float64
 13  fg3a_home               2041 non-null   float64
 14  fg3_pct_home            2041 non-null   float64
 15  ftm_home                2041 non-null   float64
 16  fta_home                2041 non-null   float64
 17  ft_pct_home             2041 non-null   float64
 18  oreb_home               2041 non-null   float64
 19  dreb_home               2041 non-null   float64
 20  reb_home                2041 non-null   float64
 21  ast_home                2041 non-null   float64
 22  stl_home                2041 non-null   float64
 23  blk_home                2041 non-null   float64
 24  tov_home                2041 non-null   float64
 25  pf_home                 2041 non-null   float64
 26  pts_home                2041 non-null   float64
 27  plus_minus_home         2041 non-null   int64
 28  video_available_home    2041 non-null   int64
 29  team_id_away            2041 non-null   int64
 30  team_abbreviation_away  2041 non-null   object
 31  team_name_away          2041 non-null   object
 32  matchup_away            2041 non-null   object
 33  wl_away                 2041 non-null   object
 34  fgm_away                2041 non-null   float64
 35  fga_away                2041 non-null   float64
 36  fg_pct_away             2041 non-null   float64
 37  fg3m_away               2041 non-null   float64
 38  fg3a_away               2041 non-null   float64
 39  fg3_pct_away            2041 non-null   float64
 40  ftm_away                2041 non-null   float64
 41  fta_away                2041 non-null   float64
 42  ft_pct_away             2041 non-null   float64
 43  oreb_away               2041 non-null   float64
 44  dreb_away               2041 non-null   float64
 45  reb_away                2041 non-null   float64
 46  ast_away                2041 non-null   float64
 47  stl_away                2041 non-null   float64
 48  blk_away                2041 non-null   float64
 49  tov_away                2041 non-null   float64
 50  pf_away                 2041 non-null   float64
 51  pts_away                2041 non-null   float64
 52  plus_minus_away         2041 non-null   int64
 53  video_available_away    2041 non-null   int64
 54  season_type             2041 non-null   object
dtypes: datetime64[ns](1), float64(36), int64(9), object(9)
memory usage: 892.9+ KB

Vamos a chequear y ajustar los formatos de texto de las columnas

In [23]:
# Para las columnas con decimales, indicamos que redondee a 2 decimales:

#df_game_filtrado2['new_recovered'] = df_game_filtrado2['new_recovered'].round(2)

Ajustamos los formatos de las columnas con numeros enteros

In [24]:
# Procedemos a asignar el tipo de dato entero a algunas columnas:

# Lista de columnas a convertir
columns_to_convert_home = [
    'fgm_home', 'fga_home', 'fg3m_home', 'fg3a_home', 'ftm_home', 'fta_home', 
    'oreb_home', 'dreb_home', 'reb_home', 'ast_home', 'stl_home', 'blk_home', 
    'tov_home', 'pf_home', 'pts_home'
]

# Convertir cada columna a int
df_game_filtrado2[columns_to_convert_home] = df_game_filtrado2[columns_to_convert_home].astype(int)

C:\Users\Maria\AppData\Local\Temp\ipykernel_3144\4107922953.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game_filtrado2[columns_to_convert_home] = df_game_filtrado2[columns_to_convert_home].astype(int)

In [25]:
df_game_filtrado2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2041 entries, 59255 to 65695
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               2041 non-null   int64
 1   team_id_home            2041 non-null   int64
 2   team_abbreviation_home  2041 non-null   object
 3   team_name_home          2041 non-null   object
 4   game_id                 2041 non-null   int64
 5   game_date               2041 non-null   datetime64[ns]
 6   matchup_home            2041 non-null   object
 7   wl_home                 2041 non-null   object
 8   min                     2041 non-null   int64
 9   fgm_home                2041 non-null   int64
 10  fga_home                2041 non-null   int64
 11  fg_pct_home             2041 non-null   float64
 12  fg3m_home               2041 non-null   int64
 13  fg3a_home               2041 non-null   int64
 14  fg3_pct_home            2041 non-null   float64
 15  ftm_home                2041 non-null   int64
 16  fta_home                2041 non-null   int64
 17  ft_pct_home             2041 non-null   float64
 18  oreb_home               2041 non-null   int64
 19  dreb_home               2041 non-null   int64
 20  reb_home                2041 non-null   int64
 21  ast_home                2041 non-null   int64
 22  stl_home                2041 non-null   int64
 23  blk_home                2041 non-null   int64
 24  tov_home                2041 non-null   int64
 25  pf_home                 2041 non-null   int64
 26  pts_home                2041 non-null   int64
 27  plus_minus_home         2041 non-null   int64
 28  video_available_home    2041 non-null   int64
 29  team_id_away            2041 non-null   int64
 30  team_abbreviation_away  2041 non-null   object
 31  team_name_away          2041 non-null   object
 32  matchup_away            2041 non-null   object
 33  wl_away                 2041 non-null   object
 34  fgm_away                2041 non-null   float64
 35  fga_away                2041 non-null   float64
 36  fg_pct_away             2041 non-null   float64
 37  fg3m_away               2041 non-null   float64
 38  fg3a_away               2041 non-null   float64
 39  fg3_pct_away            2041 non-null   float64
 40  ftm_away                2041 non-null   float64
 41  fta_away                2041 non-null   float64
 42  ft_pct_away             2041 non-null   float64
 43  oreb_away               2041 non-null   float64
 44  dreb_away               2041 non-null   float64
 45  reb_away                2041 non-null   float64
 46  ast_away                2041 non-null   float64
 47  stl_away                2041 non-null   float64
 48  blk_away                2041 non-null   float64
 49  tov_away                2041 non-null   float64
 50  pf_away                 2041 non-null   float64
 51  pts_away                2041 non-null   float64
 52  plus_minus_away         2041 non-null   int64
 53  video_available_away    2041 non-null   int64
 54  season_type             2041 non-null   object
dtypes: datetime64[ns](1), float64(21), int64(24), object(9)
memory usage: 892.9+ KB

In [26]:
# Procedemos a asignar el tipo de dato entero a algunas columnas:

# Lista de columnas a convertir
columns_to_convert_away = [
    'fgm_away', 'fga_away', 'fg3m_away', 'fg3a_away', 'ftm_away', 'fta_away', 
    'oreb_away', 'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 
    'tov_away', 'pf_away', 'pts_away'
]

# Convertir cada columna a int
df_game_filtrado2[columns_to_convert_away] = df_game_filtrado2[columns_to_convert_away].astype(int)

C:\Users\Maria\AppData\Local\Temp\ipykernel_3144\3199151192.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game_filtrado2[columns_to_convert_away] = df_game_filtrado2[columns_to_convert_away].astype(int)

In [27]:
df_game_filtrado2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2041 entries, 59255 to 65695
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               2041 non-null   int64
 1   team_id_home            2041 non-null   int64
 2   team_abbreviation_home  2041 non-null   object
 3   team_name_home          2041 non-null   object
 4   game_id                 2041 non-null   int64
 5   game_date               2041 non-null   datetime64[ns]
 6   matchup_home            2041 non-null   object
 7   wl_home                 2041 non-null   object
 8   min                     2041 non-null   int64
 9   fgm_home                2041 non-null   int64
 10  fga_home                2041 non-null   int64
 11  fg_pct_home             2041 non-null   float64
 12  fg3m_home               2041 non-null   int64
 13  fg3a_home               2041 non-null   int64
 14  fg3_pct_home            2041 non-null   float64
 15  ftm_home                2041 non-null   int64
 16  fta_home                2041 non-null   int64
 17  ft_pct_home             2041 non-null   float64
 18  oreb_home               2041 non-null   int64
 19  dreb_home               2041 non-null   int64
 20  reb_home                2041 non-null   int64
 21  ast_home                2041 non-null   int64
 22  stl_home                2041 non-null   int64
 23  blk_home                2041 non-null   int64
 24  tov_home                2041 non-null   int64
 25  pf_home                 2041 non-null   int64
 26  pts_home                2041 non-null   int64
 27  plus_minus_home         2041 non-null   int64
 28  video_available_home    2041 non-null   int64
 29  team_id_away            2041 non-null   int64
 30  team_abbreviation_away  2041 non-null   object
 31  team_name_away          2041 non-null   object
 32  matchup_away            2041 non-null   object
 33  wl_away                 2041 non-null   object
 34  fgm_away                2041 non-null   int64
 35  fga_away                2041 non-null   int64
 36  fg_pct_away             2041 non-null   float64
 37  fg3m_away               2041 non-null   int64
 38  fg3a_away               2041 non-null   int64
 39  fg3_pct_away            2041 non-null   float64
 40  ftm_away                2041 non-null   int64
 41  fta_away                2041 non-null   int64
 42  ft_pct_away             2041 non-null   float64
 43  oreb_away               2041 non-null   int64
 44  dreb_away               2041 non-null   int64
 45  reb_away                2041 non-null   int64
 46  ast_away                2041 non-null   int64
 47  stl_away                2041 non-null   int64
 48  blk_away                2041 non-null   int64
 49  tov_away                2041 non-null   int64
 50  pf_away                 2041 non-null   int64
 51  pts_away                2041 non-null   int64
 52  plus_minus_away         2041 non-null   int64
 53  video_available_away    2041 non-null   int64
 54  season_type             2041 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(39), object(9)
memory usage: 892.9+ KB

In [28]:
# Verificar valores nulos restantes en todo el DataFrame

Cant_Column_Null = df_game_filtrado2.isna().sum()

Solo_Column_Con_Nulos = Cant_Column_Null[Cant_Column_Null>0].index
print(Solo_Column_Con_Nulos)

Index([], dtype='object')

Ajustamos el formato de las columnas con valores decimales (porcentajes)

In [29]:
# Procedemos a asignar el tipo de dato decimal a algunas columnas:

# Lista de columnas a convertir
columns_to_convert_pct = [
    'fg_pct_home', 'fg3_pct_home', 'ft_pct_home', 'fg_pct_away','fg3_pct_away', 'ft_pct_away'
]


# Formatear las columnas a 4 decimales como números (sin convertir a texto)
df_game_filtrado2[columns_to_convert_pct] = df_game_filtrado2[columns_to_convert_pct].astype(float).round(4)

C:\Users\Maria\AppData\Local\Temp\ipykernel_3144\815469132.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game_filtrado2[columns_to_convert_pct] = df_game_filtrado2[columns_to_convert_pct].astype(float).round(4)

In [30]:
print(df_game_filtrado2[columns_to_convert_pct].head())

       fg_pct_home  fg3_pct_home  ft_pct_home  fg_pct_away  fg3_pct_away  \
59255        0.433         0.297        0.714        0.391         0.192
59256        0.442         0.269        0.944        0.363         0.270
59257        0.430         0.440        0.724        0.429         0.316
59259        0.398         0.286        0.833        0.379         0.333
59260        0.455         0.364        0.774        0.456         0.278

       ft_pct_away
59255        0.609
59256        0.649
59257        0.889
59259        0.786
59260        0.833

In [54]:
#Generar estadísticas descriptivas para todas las columnas
df_game_filtrado_check = df_game_filtrado2.describe(include='all')

# Redondear los valores numéricos a 2 decimales
df_game_filtrado_check = df_game_filtrado_check.round(2)

# Mostrar el DataFrame ajustado
print(df_game_filtrado_check)

       season_id  team_id_home  team_abbreviation_home  team_name_home  \
count       8.00  8.000000e+00                    4.00            4.00
mean    16296.15  9.991658e+08                  512.50          512.50
std     13393.05  6.834543e+08                 1019.00         1019.00
min         8.00  8.000000e+00                    1.00            1.00
25%      8385.79  5.591763e+08                    3.25            3.25
50%     15695.72  1.207960e+09                    4.00            4.00
75%     22111.26  1.610613e+09                  513.25          513.25
max     42022.00  1.610613e+09                 2041.00         2041.00

           game_id  game_date  matchup_home  wl_home      min  fgm_home  ...  \
count         8.00        4.0          4.00     4.00     8.00      8.00  ...
mean   16096841.42      514.0        512.50   512.50   487.75    396.57  ...
std    13750642.29     1018.0       1019.00  1019.00   662.56    706.87  ...
min           8.00        1.0          1.00     1.00     7.63      5.27  ...
25%     7864950.43        5.5          3.25     3.25   182.00     26.75  ...
50%    15809307.62        7.0          4.00     4.00   253.22     44.88  ...
75%    22092199.72      515.5        513.25   513.25   499.15    392.10  ...
max    42200405.00     2041.0       2041.00  2041.00  2041.00   2041.00  ...

       reb_away  ast_away  stl_away  blk_away  tov_away  pf_away  pts_away  \
count      8.00      8.00      8.00      8.00      8.00     8.00      8.00
mean     398.08    389.30    381.59    380.52    384.90   387.68    427.68
std      705.99    711.15    715.79    716.44    713.78   712.11    689.66
min        6.66      4.98      0.00      0.00      3.00     4.32      8.00
25%       28.44     15.12      6.57      4.40      8.93    13.62     74.34
50%       48.26     27.38      9.75      8.00     17.14    23.12    118.29
75%      393.84    384.09    375.84    374.60    379.30   382.21    427.09
max     2041.00   2041.00   2041.00   2041.00   2041.00  2041.00   2041.00

       plus_minus_away  video_available_away  season_type
count             8.00                  8.00         4.00
mean            371.98                378.65       512.50
std             722.29                717.59      1019.00
min             -73.00                  0.00         1.00
25%               0.96                  1.00         3.25
50%              16.52                  4.50         4.00
75%             371.18                372.24       513.25
max            2041.00               2041.00      2041.00

[8 rows x 55 columns]

In [59]:
# Guardar los datos filtrados en un archivo con el nombre GameFiltrado.csv a fin de poder utilizarlo luego

# Guardar el archivo con un separador decimal compatible con tu configuración regional
df_game_filtrado2.to_csv('GameFiltrado.csv', index=False, float_format="%.4f")

# Confirmación
print("Archivo guardado exitosamente como 'GameFiltrado.csv'")

Archivo guardado exitosamente como 'GameFiltrado.csv'

ETL archivo Other Stats

In [31]:
#Archivo creado y bibliotecas importadas:

import pandas as pd
import numpy as np

In [32]:
# Leer el archivo de trabajo:

df_other_stats = pd.read_csv('other_stats.csv')

In [33]:
# Para comprobar que cantidad de registros y columnas tiene el dataset cargado:

df_other_stats.shape

(28271, 26)

In [34]:
# Una vez cargado el dataset, y comprobado su tamaño, se procede a verificar el contenido con una vista truncada:
df_other_stats.head()

,game_id,league_id,team_id_home,team_abbreviation_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,...,team_abbreviation_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
0,29600012,0,1610612756,PHX,Phoenix,44,18,2,1,4,...,LAL,Los Angeles,42,10,13,19,0.0,23.0,11.0,NaN
1,29600005,0,1610612737,ATL,Atlanta,32,9,6,0,0,...,MIA,Miami,32,15,14,16,1.0,19.0,6.0,NaN
2,29600002,0,1610612739,CLE,Cleveland,36,14,6,20,1,...,NJN,New Jersey,26,16,4,2,1.0,22.0,12.0,NaN
3,29600007,0,1610612754,IND,Indiana,34,11,4,10,7,...,DET,Detroit,30,14,7,9,2.0,19.0,10.0,NaN
4,29600013,0,1610612746,LAC,Los Angeles,40,19,2,12,5,...,GSW,Golden State,30,9,2,6,0.0,20.0,7.0,NaN

In [35]:
df_other_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28271 entries, 0 to 28270
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 28271 non-null  int64
 1   league_id               28271 non-null  int64
 2   team_id_home            28271 non-null  int64
 3   team_abbreviation_home  28271 non-null  object
 4   team_city_home          28271 non-null  object
 5   pts_paint_home          28271 non-null  int64
 6   pts_2nd_chance_home     28271 non-null  int64
 7   pts_fb_home             28271 non-null  int64
 8   largest_lead_home       28271 non-null  int64
 9   lead_changes            28271 non-null  int64
 10  times_tied              28271 non-null  int64
 11  team_turnovers_home     28269 non-null  float64
 12  total_turnovers_home    27955 non-null  float64
 13  team_rebounds_home      26273 non-null  float64
 14  pts_off_to_home         26148 non-null  float64
 15  team_id_away            28271 non-null  int64
 16  team_abbreviation_away  28271 non-null  object
 17  team_city_away          28271 non-null  object
 18  pts_paint_away          28271 non-null  int64
 19  pts_2nd_chance_away     28271 non-null  int64
 20  pts_fb_away             28271 non-null  int64
 21  largest_lead_away       28271 non-null  int64
 22  team_turnovers_away     28269 non-null  float64
 23  total_turnovers_away    27955 non-null  float64
 24  team_rebounds_away      26273 non-null  float64
 25  pts_off_to_away         26148 non-null  float64
dtypes: float64(8), int64(14), object(4)
memory usage: 5.6+ MB

In [41]:
#Asegurarse de que los tipos de datos sean iguales


print(df_game_filtrado2['game_id'].dtype)
print(df_other_stats['game_id'].dtype)

int64
int64

In [43]:
#Verificar valores únicos y sus coincidencias: Analiza si realmente hay coincidencias entre los game_id de ambos DataFrames.

print("Valores únicos en df_game:", df_game_filtrado2['game_id'].unique())
print("Valores únicos en df_other_stats:", df_other_stats['game_id'].unique())
print("Coincidencias:", set(df_game_filtrado2['game_id']) & set(df_other_stats['game_id']))

Valores únicos en df_game: [21800001 21800002 21800010 ... 42200403 42200404 42200405]
Valores únicos en df_other_stats: [29600012 29600005 29600002 ... 42200403 42200404 32200001]
Coincidencias: {22200320, 22200327, 22200328, 22200337, 22200341, 22200344, 22200346, 22200348, 22200354, 22200355, 22200362, 22200365, 22200368, 22200370, 22200373, 22200377, 22200385, 22200390, 22200392, 22200393, 22200394, 22200397, 22200405, 22200407, 22200413, 22200418, 22200422, 22200423, 22200430, 22200434, 22200437, 22200443, 22200445, 22200446, 22200449, 22200450, 22200456, 22200458, 22200463, 22200465, 22200469, 22200471, 22200488, 22200489, 22200493, 22200497, 22200500, 22200507, 22200512, 22200514, 22200520, 22200522, 22200523, 22200525, 22200527, 22200533, 22200535, 22200541, 22200544, 22200545, 22200549, 22200550, 22200562, 22200566, 22200571, 22200577, 22200579, 22200582, 22200587, 22200588, 22200591, 22200601, 22200602, 22200606, 22200607, 22200609, 22200621, 22200622, 22200624, 22200626, 22200627, 22200636, 22200637, 22200639, 22200645, 22200648, 22200651, 22200653, 22200656, 22200659, 22200662, 22200667, 22200669, 22200674, 22200679, 22200680, 22200684, 22200688, 22200691, 22200692, 22200696, 22200700, 22200702, 22200707, 22200709, 22200714, 22200715, 22200724, 22200725, 22200737, 22200739, 12100005, 12100006, 22200741, 22200742, 12100010, 12100011, 22200746, 22200749, 12100019, 22200758, 22200759, 22200765, 12100032, 22200768, 22200772, 12100037, 22200774, 22200773, 22200780, 12100045, 22200783, 12100051, 12100052, 22200788, 22200790, 12100056, 12100057, 12100059, 22200795, 12100062, 22200804, 22200806, 22200808, 22200814, 22200820, 22200821, 22200824, 22200828, 22200831, 22200837, 22200841, 22200843, 22200847, 22200851, 22200855, 22200861, 22200864, 22200865, 22200876, 22200877, 22200880, 22200881, 22200886, 22200887, 22200895, 22200898, 22200899, 22200906, 22200907, 22200908, 22200915, 22200918, 22200921, 22200926, 22200928, 22200932, 22200935, 22200937, 22200948, 22200951, 22200952, 22200955, 22200961, 22200968, 22200969, 22200971, 22200980, 22200982, 22200986, 22200989, 22200990, 22200997, 22201001, 22201004, 22201008, 22201011, 22201014, 22201018, 22201019, 22201021, 22201029, 22201039, 22201042, 22201044, 22201050, 22201053, 22201055, 22201058, 22201063, 22201064, 22201073, 22201081, 22201082, 22201083, 22201093, 22201096, 22201097, 22201106, 22201116, 22201120, 22201124, 22201126, 22201128, 22201130, 22201134, 22201138, 22201144, 22201146, 22201147, 22201149, 22201152, 22201154, 22201157, 22201160, 22201166, 22201168, 22201172, 22201175, 22201181, 22201183, 22201187, 22201190, 22201200, 22201201, 22201206, 22201209, 22201213, 22201214, 22201216, 22201220, 22201225, 22201226, 22201227, 21800001, 21800002, 21800010, 21800012, 21800018, 21800021, 21800025, 21800028, 21800032, 21800033, 21800037, 21800038, 21800040, 21800042, 21800043, 21800051, 21800054, 21800055, 21800066, 21800071, 21800074, 21800090, 21800093, 21800095, 21800099, 21800103, 21800105, 21800107, 21800111, 21800112, 21800115, 21800121, 21800124, 21800131, 21800135, 21800138, 21800143, 21800144, 21800145, 21800148, 21800155, 21800158, 21800162, 21800163, 21800164, 21800173, 21800174, 21800181, 21800186, 21800187, 21800195, 21800196, 21800200, 21800204, 21800208, 21800209, 21800214, 21800216, 21800221, 21800222, 21800229, 21800233, 21800234, 21800236, 21800239, 21800245, 21800247, 21800251, 21800255, 21800260, 21800264, 21800265, 21800268, 21800269, 21800274, 21800276, 21800281, 21800282, 21800283, 21800291, 21800295, 21800298, 21800301, 21800304, 21800307, 21800311, 21800313, 21800319, 21800329, 42100112, 42100113, 42100114, 21800343, 21800346, 21800347, 21800348, 21800362, 21800365, 21800368, 21800373, 42100151, 42100152, 42100153, 42100154, 42100155, 21800380, 42100156, 21800382, 21800383, 42100161, 42100162, 42100163, 21800389, 42100165, 21800393, 21800396, 21800398, 21800400, 21800409, 21800411, 21800414, 21800420, 21800421, 21800426, 21800431, 21800434, 21800435, 42100211, 42100212, 21800438, 42100213, 42100214, 42100216, 42100217, 21800444, 21800446, 21800447, 21800454, 21800457, 21800458, 21800463, 21800466, 21800472, 21800473, 21800475, 21800479, 21800497, 21800498, 21800507, 21800510, 21800512, 21800513, 21800522, 21800524, 21800525, 42100301, 42100302, 42100303, 42100305, 42100306, 21800531, 21800532, 21800533, 42100307, 21800537, 21800545, 21800546, 21800547, 21800551, 21800558, 21800562, 21800564, 21800566, 21800571, 21800574, 21800575, 21800585, 21800588, 21800592, 21800593, 21800597, 21800601, 21800603, 21800605, 21800607, 21800617, 21800618, 21800619, 21800623, 42100401, 42100403, 42100404, 42100405, 42100406, 21800632, 21800634, 21800635, 21800638, 21800643, 21800645, 21800652, 21800653, 21800655, 21800658, 21800670, 21800671, 21800674, 21800683, 21800687, 21800691, 21800698, 21800703, 21800705, 21800707, 21800715, 21800717, 21800719, 21800721, 21800728, 21800729, 21800733, 21800738, 21800740, 21800741, 21800744, 21800746, 21800751, 21800756, 21800758, 21800761, 21800771, 21800774, 21800783, 21800787, 21800790, 21800799, 21800801, 21800802, 21800804, 21800812, 21800815, 21800817, 21800818, 21800823, 21800828, 21800839, 21800845, 21800846, 21800847, 21800855, 21800856, 21800860, 21800861, 21800865, 21800866, 21800870, 21800878, 21800880, 21800889, 21800890, 21800891, 21800895, 21800896, 21800905, 21800908, 21800909, 21800910, 21800912, 21800913, 21800922, 21800924, 21800926, 21800927, 21800931, 21800940, 21800941, 21800945, 21800947, 21800950, 21800951, 21800954, 21800957, 21800963, 21800966, 21800972, 21800973, 21800974, 21800976, 21800984, 21800985, 21800988, 21800989, 21800998, 21801005, 21801006, 21801007, 21801012, 21801017, 21801022, 12200005, 21801032, 21801034, 12200011, 21801038, 12200014, 21801040, 12200020, 12200021, 21801048, 12200025, 21801052, 21801053, 21801054, 12200029, 12200031, 12200030, 21801062, 12200038, 12200042, 21801067, 21801068, 12200047, 21801072, 21801074, 21801075, 12200053, 12200057, 21801082, 21801083, 12200059, 12200064, 12200066, 21801091, 12200069, 21801095, 21801097, 21801100, 21801104, 21801108, 21801112, 21801115, 21801119, 21801125, 21801126, 21801130, 21801132, 21801133, 21801137, 21801141, 21801143, 21801148, 21801153, 21801155, 21801157, 21801161, 21801164, 21801166, 21801170, 21801172, 21801173, 21801183, 21801184, 21801190, 21801203, 21801206, 21801211, 21801213, 21801214, 21801217, 21801226, 21900006, 21900008, 21900010, 21900011, 21900013, 21900017, 21900018, 21900022, 21900029, 21900036, 21900039, 21900045, 21900050, 21900053, 21900056, 21900057, 21900058, 21900062, 21900067, 21900072, 21900077, 21900079, 21900080, 21900087, 21900094, 21900098, 21900101, 21900102, 21900103, 21900108, 21900112, 21900113, 21900120, 21900122, 21900127, 21900131, 21900132, 21900135, 21900140, 21900141, 21900146, 21900149, 21900150, 21900156, 21900158, 21900162, 21900171, 21900172, 21900173, 21900179, 21900186, 21900189, 21900195, 21900196, 21900201, 21900202, 21900210, 21900211, 21900212, 21900220, 21900222, 21900225, 21900229, 21900236, 21900238, 21900243, 21900252, 21900253, 21900258, 21900262, 21900265, 21900267, 21900271, 21900280, 21900285, 21900286, 21900289, 21900297, 21900304, 21900312, 21900313, 21900317, 21900323, 21900326, 21900331, 42200112, 42200113, 42200114, 42200116, 21900341, 21900342, 21900344, 21900349, 21900350, 42200131, 42200132, 21900357, 42200133, 42200134, 42200135, 21900362, 42200141, 21900366, 21900367, 42200142, 42200143, 21900370, 42200144, 42200145, 21900378, 21900387, 21900392, 21900399, 21900403, 21900412, 21900413, 21900414, 21900422, 21900424, 42200201, 21900426, 21900427, 42200202, 42200203, 42200204, 42200205, 42200206, 21900434, 42200212, 42200213, 21900438, 42200215, 42200216, 42200217, 21900442, 21900443, 42200221, 42200222, 21900447, 42200223, 42200224, 42200225, 21900451, 42200226, 21900454, 21900455, 21900459, 21900461, 21900462, 21900464, 21900466, 21900467, 21900472, 21900473, 21900476, 21900479, 21900489, 21900494, 21900497, 21900501, 21900505, 21900506, 21900509, 21900512, 21900514, 21900517, 21900521, 42200301, 42200302, 21900527, 21900528, 42200303, 42200304, 42200307, 42200305, 21900534, 42200311, 21900536, 42200312, 42200313, 42200314, 21900541, 21900542, 21900543, 21900550, 21900551, 21900553, 21900554, 21900561, 21900564, 21900565, 21900566, 21900569, 21900577, 21900578, 21900580, 21900582, 21900584, 21900589, 21900593, 21900594, 21900601, 21900604, 21900608, 21900609, 21900614, 21900615, 21900617, 21900619, 21900623, 42200401, 42200402, 42200403, 21900628, 42200404, 21900632, 21900635, 21900638, 21900643, 21900645, 21900648, 21900649, 21900655, 21900657, 21900659, 21900661, 21900662, 21900671, 21900672, 21900676, 21900677, 21900683, 21900685, 21900688, 21900691, 21900696, 21900697, 21900699, 21900701, 21900713, 21900718, 21900724, 21900727, 21900728, 21900732, 21900745, 21900749, 21900753, 21900756, 21900759, 21900760, 21900764, 21900771, 21900773, 21900779, 21900782, 21900784, 21900786, 21900787, 21900796, 21900799, 21900806, 21900811, 21900813, 21900817, 21900818, 21900819, 21900828, 21900831, 21900842, 21900844, 21900853, 21900854, 21900859, 21900860, 21900862, 21900864, 21900872, 21900873, 21900877, 21900882, 21900886, 21900887, 21900896, 21900898, 21900903, 21900910, 21900911, 21900912, 21900913, 21900917, 21900921, 21900922, 21900932, 21900935, 21900942, 21900947, 21900955, 21900958, 21900960, 21900963, 21900969, 21900973, 21901236, 21901239, 21901240, 21901245, 21901251, 21901264, 21901265, 21901267, 21901272, 21901275, 21901279, 21901281, 21901285, 21901288, 21901292, 21901296, 21901301, 21901307, 21901308, 21901318, 22000003, 22000007, 22000009, 22000011, 22000016, 22000022, 22000025, 22000028, 22000036, 22000040, 22000044, 22000046, 22000048, 22000054, 22000055, 22000056, 41800131, 22000067, 41800133, 41800134, 22000074, 22000076, 22000080, 22000081, 22000085, 41800151, 41800152, 41800153, 41800154, 41800155, 41800156, 41800157, 22000088, 22000095, 22000096, 41800161, 41800162, 41800163, 41800164, 22000097, 22000104, 22000111, 22000112, 22000120, 22000122, 22000124, 22000125, 22000133, 41800201, 41800202, 41800203, 41800204, 22000138, 22000143, 22000144, 22000145, 22000147, 22000149, 22000158, 22000160, 22000162, 22000167, 22000168, 41800232, 41800233, 41800234, 41800235, 41800236, 41800237, 22000169, 22000170, 22000177, 22000180, 22000181, 22000183, 22000184, 22000196, 22000199, 22000200, 22000203, 22000205, 22000213, 22000218, 22000228, 22000233, 22000236, 22000238, 22000239, 22000241, 22000246, 22000248, 22000250, 22000251, 22000256, 22000262, 22000265, 22000266, 22000267, 22000270, 22000280, 22000281, 22000283, 22000291, 22000294, 22000295, 22000296, 22000302, 22000306, 22000308, 22000315, 22000318, 22000321, 22000326, 22000332, 22000333, 22000334, 22000336, 22000341, 22000348, 22000350, 22000351, 22000352, 22000365, 22000370, 22000373, 22000376, 22000379, 22000387, 22000388, 22000390, 22000395, 22000396, 22000401, 22000408, 22000412, 22000413, 22000415, 22000416, 22000422, 22000431, 22000432, 22000436, 22000437, 22000438, 22000440, 22000448, 22000451, 22000453, 22000458, 22000465, 22000466, 22000469, 22000470, 22000475, 22000485, 22000486, 22000487, 22000490, 22000493, 22000495, 22000500, 22000502, 22000505, 22000510, 22000515, 22000517, 22000518, 22000521, 22000526, 22000531, 22000537, 22000540, 22000541, 22000547, 22000549, 22000552, 22000553, 22000556, 22000560, 22000562, 22000563, 22000565, 22000569, 22000573, 22000574, 22000575, 22000580, 22000586, 22000591, 22000592, 22000593, 22000598, 22000599, 22000604, 22000606, 22000609, 22000611, 22000612, 22000615, 22000624, 22000626, 22000627, 22000628, 22000631, 22000637, 22000638, 22000646, 22000654, 22000658, 22000661, 22000662, 22000668, 22000669, 22000673, 22000674, 22000679, 22000685, 22000695, 22000696, 22000699, 22000705, 22000709, 22000710, 22000713, 22000719, 22000723, 22000727, 22000736, 22000738, 22000739, 22000741, 22000744, 22000748, 22000750, 22000753, 22000757, 22000761, 22000762, 22000765, 22000766, 22000771, 22000776, 22000778, 22000781, 22000782, 22000785, 22000792, 22000793, 22000797, 22000806, 22000809, 22000812, 22000815, 22000817, 22000821, 22000826, 22000828, 22000834, 22000835, 22000838, 22000842, 22000845, 22000852, 22000854, 22000858, 22000862, 22000867, 22000869, 22000872, 22000874, 22000877, 22000880, 22000882, 22000886, 22000890, 22000892, 22000899, 22000903, 22000904, 22000911, 22000918, 22000920, 22000925, 22000927, 22000931, 22000936, 22000937, 22000940, 22000946, 22000947, 22000948, 22000950, 22000962, 22000963, 22000966, 22000968, 22000971, 22000972, 22000980, 22000982, 22000990, 22000995, 22001001, 22001005, 22001008, 22001009, 22001015, 22001017, 22001019, 22001025, 22001032, 22001040, 22001052, 22001054, 22001056, 22001063, 22001064, 22001071, 22001073, 22001074, 22001076, 22100008, 22100011, 22100012, 22100018, 22100020, 22100023, 22100024, 22100031, 22100036, 22100037, 22100038, 22100047, 22100048, 22100050, 22100051, 22100054, 22100056, 41900121, 41900122, 41900124, 22100061, 22100060, 22100067, 22100075, 22100080, 22100086, 22100087, 41900162, 41900163, 22100100, 22100101, 41900164, 41900165, 41900166, 41900167, 22100102, 22100098, 22100099, 41900171, 41900172, 41900173, 41900174, 41900175, 22100114, 22100115, 22100109, 22100121, 22100128, 22100129, 22100140, 22100144, 41900211, 22100147, 41900214, 41900215, 41900216, 41900217, 22100151, 22100160, 22100161, 22100165, 41900231, 22100167, 22100169, 41900235, 41900236, 41900237, 22100174, 22100175, 22100180, 22100182, 22100184, 22100190, 22100191, 22100196, 22100197, 22100199, 22100203, 22100204, 22100206, 22100207, 22100215, 22100218, 22100221, 22100228, 22100232, 22100236, 41900302, 41900303, 41900304, 41900305, 41900306, 22100243, 22100239, 22100245, 41900311, 41900313, 41900314, 41900315, 22100251, 22100255, 22100256, 22100259, 22100264, 22100265, 22100270, 22100274, 22100276, 22100281, 22100282, 22100286, 22100288, 22100293, 22100306, 22100308, 22100309, 22100314, 22100322, 22100326, 22100328, 22100330, 22100336, 22100339, 22100342, 22100347, 22100354, 22100357, 22100359, 22100364, 22100365, 22100374, 22100375, 22100378, 22100381, 22100387, 22100389, 22100390, 22100397, 22100398, 22100400, 22100408, 22100411, 22100424, 22100431, 22100434, 22100435, 22100436, 22100445, 22100453, 22100455, 22100457, 22100460, 22100466, 22100468, 22100471, 22100474, 22100480, 22100482, 22100483, 22100484, 22100488, 22100497, 22100500, 22100503, 22100512, 22100515, 22100516, 22100518, 22100522, 22100528, 22100529, 22100536, 22100537, 22100543, 22100545, 22100546, 22100550, 22100558, 22100564, 22100570, 22100574, 22100575, 22100578, 22100587, 22100588, 22100595, 22100601, 22100609, 22100610, 22100612, 22100615, 22100622, 22100628, 22100630, 22100631, 22100635, 22100643, 22100649, 22100653, 22100655, 22100663, 22100666, 22100670, 22100671, 22100676, 22100678, 22100684, 22100688, 22100692, 22100695, 22100698, 22100699, 22100706, 22100707, 22100709, 22100714, 22100717, 22100721, 22100727, 22100729, 22100730, 22100734, 22100737, 12000002, 22100743, 12000008, 22100744, 12000010, 12000011, 22100745, 12000015, 22100756, 22100757, 12000023, 12000025, 22100762, 12000029, 12000030, 22100770, 12000036, 22100775, 22100776, 12000041, 12000042, 22100778, 12000044, 12000045, 22100779, 22100782, 22100788, 22100794, 22100795, 22100799, 22100801, 22100803, 22100804, 22100806, 22100813, 22100814, 22100817, 22100821, 22100824, 22100827, 22100830, 22100837, 22100840, 22100843, 22100845, 22100850, 22100856, 22100857, 22100860, 22100869, 22100871, 22100880, 22100881, 22100890, 22100892, 22100893, 22100895, 22100900, 22100901, 22100905, 22100911, 22100912, 22100914, 22100918, 22100920, 22100925, 22100927, 22100930, 22100934, 22100938, 22100940, 22100951, 22100952, 22100958, 22100960, 22100965, 22100971, 22100974, 22100979, 22100981, 22100986, 22100991, 22100995, 22100997, 22101005, 22101009, 22101012, 22101022, 22101023, 22101024, 22101035, 22101037, 22101039, 22101042, 22101049, 22101050, 22101052, 22101057, 22101058, 22101065, 22101067, 22101068, 22101078, 22101079, 22101081, 22101083, 22101084, 22101087, 22101090, 22101091, 22101099, 22101103, 22101104, 22101113, 22101115, 22101122, 22101126, 22101127, 22101130, 22101139, 22101140, 22101143, 22101153, 22101162, 22101166, 22101168, 22101171, 22101173, 22101174, 22101184, 22101185, 22101186, 22101191, 22101193, 22101194, 22101199, 22101211, 22101220, 22101222, 22101223, 22101224, 22101226, 22200001, 22200009, 22200010, 22200012, 22200022, 22200023, 22200030, 22200035, 22200041, 22200046, 42000111, 22200047, 42000113, 42000114, 42000115, 22200050, 22200051, 22200054, 22200058, 22200062, 22200064, 42000131, 42000132, 42000133, 42000134, 42000135, 22200067, 22200072, 22200075, 22200076, 22200078, 22200089, 22200090, 22200092, 22200095, 42000161, 42000162, 42000163, 42000164, 42000166, 22200105, 22200106, 22200107, 22200110, 22200119, 22200122, 22200124, 22200129, 22200135, 22200136, 22200137, 22200138, 22200146, 22200152, 22200153, 22200154, 22200160, 22200163, 22200164, 42000231, 22200168, 42000233, 42000234, 22200167, 22200178, 22200179, 22200181, 22200186, 22200192, 22200193, 22200196, 22200201, 22200208, 22200212, 22200214, 22200219, 22200229, 22200230, 22200231, 22200233, 22200237, 22200240, 22200250, 22200252, 22200254, 22200258, 22200262, 22200264, 22200268, 22200272, 22200274, 22200275, 22200285, 22200287, 22200291, 22200294, 22200300, 22200301, 22200305, 22200309, 22200314, 22200316, 22200319}

In [44]:
#Filtramos por GameID teniendo en cuenta los GameID que quedaron dentro del dataset del archivo Game

# Filtrar los datos de other_stats que coincidan con game_id de Game
df_other_stats_filtered = df_other_stats[df_other_stats['game_id'].isin(df_game_filtrado2['game_id'])]

# Mostrar los primeros registros filtrados
print(df_other_stats_filtered.head())

        game_id  league_id  team_id_home team_abbreviation_home  \
22795  21800001          0    1610612738                    BOS
22796  21800002          0    1610612744                    GSW
22797  21800010          0    1610612750                    MIN
22799  21800012          0    1610612743                    DEN
22808  21800025          0    1610612760                    OKC

      team_city_home  pts_paint_home  pts_2nd_chance_home  pts_fb_home  \
22795         Boston              34                   14            6
22796   Golden State              58                   20           13
22797      Minnesota              54                   14           16
22799         Denver              42                   15           12
22808  Oklahoma City              40                   24           10

       largest_lead_home  lead_changes  ...  team_abbreviation_away  \
22795                 18             1  ...                     PHI
22796                 14             4  ...                     OKC
22797                  4             6  ...                     SAS
22799                 11             9  ...                     LAC
22808                  9             2  ...                     LAC

       team_city_away  pts_paint_away  pts_2nd_chance_away  pts_fb_away  \
22795    Philadelphia              50                    5           16
22796   Oklahoma City              34                   19           10
22797     San Antonio              32                   25            8
22799              LA              48                   14            8
22808              LA              40                    9           14

       largest_lead_away team_turnovers_away total_turnovers_away  \
22795                  4                 0.0                 16.0
22796                  3                 1.0                 15.0
22797                 11                 0.0                 12.0
22799                  8                 2.0                 14.0
22808                 17                 1.0                 15.0

       team_rebounds_away  pts_off_to_away
22795                10.0             14.0
22796                14.0             16.0
22797                12.0              8.0
22799                 6.0             10.0
22808                12.0             19.0

[5 rows x 26 columns]

In [37]:
# Para comprobar que cantidad de registros y columnas tiene el dataset cargado:

df_other_stats.shape

(28271, 26)