In [2]:
#Archivo creado y bibliotecas importadas:

import pandas as pd
import numpy as np

In [6]:
# Leer el archivo de trabajo:

df = pd.read_csv('team.csv')

In [7]:
# Para comprobar que cantidad de registros y columnas tiene el dataset cargado:

df.shape

(30, 7)

In [8]:
# Una vez cargado el dataset, y comprobado su tama침o, se procede a verificar el contenido con una vista truncada:
df.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949.0
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946.0
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970.0
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002.0
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966.0

In [9]:
# Selecciona y filtrar los a침os/equipos que se trabajar치n en el proyecto: 

lista_filtro_equipos = ['Boston Celtics', 'New York Knicks', 'Minnesota Timberwolves', 'Oklahoma City Thunder', 'Denver Nuggets']
df_equipos_filtrados = df[df['full_name'].isin(lista_filtro_equipos)]
df_equipos_filtrados.shape

(5, 7)

In [10]:
df_equipos_filtrados.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946.0
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976.0
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989.0
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946.0
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967.0

In [ ]:
# Verificar valores nulos restantes en todo el DataFrame
print("Valores nulos restantes:")
print(df_relleno2.isnull().sum())

In [11]:
# Guardar los datos filtrados en un archivo con el nombre TeamFiltrado.csv a fin de poder utilizarlo luego

df_equipos_filtrados.to_csv('TeamFiltrado.csv', index=False)

# Confirmaci칩n
print("Archivo guardado exitosamente como 'TeamFiltrado.csv'")

Archivo guardado exitosamente como 'TeamFiltrado.csv'

Comienzo ETL Common Player Info

In [2]:
# Leer el archivo de trabajo:

df = pd.read_csv('common_player_info.csv')

In [3]:
df.shape

(4171, 33)

In [18]:
#df.head()
#df.info()
print(df["team_abbreviation"])

0       POR
1       LAL
2       SAC
3       VAN
4       GOS
       ...
4166    CHI
4167    CLE
4168    DET
4169    LAC
4170    WAS
Name: team_abbreviation, Length: 4171, dtype: object

In [19]:
# Selecciona y filtrar los a침os/equipos que se trabajar치n en el proyecto: 

lista_filtro_equipos_abv = ['BOS', 'DEN', 'MIN', 'NYK', 'OKC']
df_equipos_abv_filtrados = df[df['team_abbreviation'].isin(lista_filtro_equipos_abv)]
df_equipos_abv_filtrados.shape

(524, 33)

In [ ]:
# Verificar valores nulos restantes en todo el DataFrame
print("Valores nulos restantes:")
print(df_relleno2.isnull().sum())

In [20]:
# Guardar los datos filtrados en un archivo con el nombre CommonPlayerFiltrado.csv a fin de poder utilizarlo luego

df_equipos_abv_filtrados.to_csv('CommonPlayerFiltrado.csv', index=False)

# Confirmaci칩n
print("Archivo guardado exitosamente como 'CommonPlayerFiltrado.csv'")

Archivo guardado exitosamente como 'CommonPlayerFiltrado.csv'

ETL archivo Other Stats

In [37]:
#Archivo creado y bibliotecas importadas:

import pandas as pd
import numpy as np

In [7]:
# Leer el archivo de trabajo:

df_other_stats = pd.read_csv('other_stats.csv')

In [8]:
# Para comprobar que cantidad de registros y columnas tiene el dataset cargado:

df_other_stats.shape

(28271, 26)

In [9]:
# Una vez cargado el dataset, y comprobado su tama침o, se procede a verificar el contenido con una vista truncada:
df_other_stats.head()

,game_id,league_id,team_id_home,team_abbreviation_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,...,team_abbreviation_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
0,29600012,0,1610612756,PHX,Phoenix,44,18,2,1,4,...,LAL,Los Angeles,42,10,13,19,0.0,23.0,11.0,NaN
1,29600005,0,1610612737,ATL,Atlanta,32,9,6,0,0,...,MIA,Miami,32,15,14,16,1.0,19.0,6.0,NaN
2,29600002,0,1610612739,CLE,Cleveland,36,14,6,20,1,...,NJN,New Jersey,26,16,4,2,1.0,22.0,12.0,NaN
3,29600007,0,1610612754,IND,Indiana,34,11,4,10,7,...,DET,Detroit,30,14,7,9,2.0,19.0,10.0,NaN
4,29600013,0,1610612746,LAC,Los Angeles,40,19,2,12,5,...,GSW,Golden State,30,9,2,6,0.0,20.0,7.0,NaN

El archivo other_stats se va a poder filtrar una vez que se conozcan los game_ID que se considerar치n en el proyecto.
Para tener ese dato, pasaremos a trabajar sobre el archivo game.csv

Comenzamos a trabajar con el archivo game.csv

In [38]:
#Archivo creado y bibliotecas importadas:

import pandas as pd
import numpy as np

In [40]:
# Leer el archivo de trabajo:

df_game = pd.read_csv('game.csv')

In [41]:
# Para comprobar que cantidad de registros y columnas tiene el dataset cargado:

df_game.shape

(65698, 55)

In [42]:
# Una vez cargado el dataset, y comprobado su tama침o, se procede a verificar el contenido con una vista truncada:
df_game.head()

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,24600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,NaN,NaN,NaN,NaN,NaN,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,24600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,50.0,17,0,Regular Season

In [43]:
df_game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65698 entries, 0 to 65697
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               65698 non-null  int64
 1   team_id_home            65698 non-null  int64
 2   team_abbreviation_home  65698 non-null  object
 3   team_name_home          65698 non-null  object
 4   game_id                 65698 non-null  int64
 5   game_date               65698 non-null  object
 6   matchup_home            65698 non-null  object
 7   wl_home                 65696 non-null  object
 8   min                     65698 non-null  int64
 9   fgm_home                65685 non-null  float64
 10  fga_home                50251 non-null  float64
 11  fg_pct_home             50208 non-null  float64
 12  fg3m_home               52480 non-null  float64
 13  fg3a_home               47015 non-null  float64
 14  fg3_pct_home            46624 non-null  float64
 15  ftm_home                65682 non-null  float64
 16  fta_home                62694 non-null  float64
 17  ft_pct_home             62689 non-null  float64
 18  oreb_home               46762 non-null  float64
 19  dreb_home               46699 non-null  float64
 20  reb_home                49969 non-null  float64
 21  ast_home                49893 non-null  float64
 22  stl_home                46849 non-null  float64
 23  blk_home                47072 non-null  float64
 24  tov_home                47014 non-null  float64
 25  pf_home                 62842 non-null  float64
 26  pts_home                65698 non-null  float64
 27  plus_minus_home         65698 non-null  int64
 28  video_available_home    65698 non-null  int64
 29  team_id_away            65698 non-null  int64
 30  team_abbreviation_away  65698 non-null  object
 31  team_name_away          65698 non-null  object
 32  matchup_away            65698 non-null  object
 33  wl_away                 65696 non-null  object
 34  fgm_away                65685 non-null  float64
 35  fga_away                50251 non-null  float64
 36  fg_pct_away             50209 non-null  float64
 37  fg3m_away               52480 non-null  float64
 38  fg3a_away               47015 non-null  float64
 39  fg3_pct_away            46736 non-null  float64
 40  ftm_away                65685 non-null  float64
 41  fta_away                62694 non-null  float64
 42  ft_pct_away             62692 non-null  float64
 43  oreb_away               46762 non-null  float64
 44  dreb_away               46700 non-null  float64
 45  reb_away                49973 non-null  float64
 46  ast_away                49897 non-null  float64
 47  stl_away                46849 non-null  float64
 48  blk_away                47073 non-null  float64
 49  tov_away                47013 non-null  float64
 50  pf_away                 62847 non-null  float64
 51  pts_away                65698 non-null  float64
 52  plus_minus_away         65698 non-null  int64
 53  video_available_away    65698 non-null  int64
 54  season_type             65698 non-null  object
dtypes: float64(36), int64(9), object(10)
memory usage: 27.6+ MB

In [44]:
# Selecciona y filtrar los a침os/equipos que se trabajar치n en el proyecto: 

lista_filtro_game = ['BOS', 'DEN', 'MIN', 'NYK', 'OKC']

# Filtrar valores que contengan alguna de las cadenas en la lista
df_game_filtrado = df_game[df_game['matchup_home'].str.contains('|'.join(lista_filtro_game))]

# Verificar el tama침o del DataFrame filtrado
print(df_game_filtrado.shape)

(18944, 55)

In [45]:
df_game_filtrado.head()

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
7,21946,1610612738,BOS,Boston Celtics,24600008,1946-11-05 00:00:00,BOS vs. CHS,L,0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,57.0,2,0,Regular Season
10,21946,1610610034,BOM,St. Louis Bombers,24600012,1946-11-07 00:00:00,BOM vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,16.0,68.0,5,0,Regular Season

In [46]:
# Convertir la columna 'game_date' a tipo datetime
df_game_filtrado['game_date'] = pd.to_datetime(df_game_filtrado['game_date'])

# Filtrar las filas desde 2018
df_game_filtrado2= df_game_filtrado[df_game_filtrado['game_date'] >= '2018-10-01']

# Verificar el resultado
print(df_game_filtrado2.shape)
print(df_game_filtrado2.head())

(2041, 55)
       season_id  team_id_home team_abbreviation_home         team_name_home  \
59255      22018    1610612738                    BOS         Boston Celtics
59256      22018    1610612744                    GSW  Golden State Warriors
59257      22018    1610612759                    SAS      San Antonio Spurs
59259      22018    1610612746                    LAC            LA Clippers
59260      22018    1610612752                    NYK        New York Knicks

        game_id  game_date matchup_home wl_home  min  fgm_home  ...  reb_away  \
59255  21800001 2018-10-16  BOS vs. PHI       W  240      42.0  ...      47.0
59256  21800002 2018-10-16  GSW vs. OKC       W  240      42.0  ...      45.0
59257  21800010 2018-10-17  SAS vs. MIN       W  240      40.0  ...      46.0
59259  21800012 2018-10-17  LAC vs. DEN       L  240      35.0  ...      56.0
59260  21800007 2018-10-17  NYK vs. ATL       W  240      45.0  ...      45.0

       ast_away  stl_away  blk_away  tov_away  pf_away  pts_away  \
59255      18.0       8.0       5.0      16.0     20.0      87.0
59256      21.0      12.0       6.0      15.0     21.0     100.0
59257      20.0       9.0       2.0      11.0     27.0     108.0
59259      20.0       6.0       9.0      11.0     22.0     107.0
59260      19.0       7.0       3.0      24.0     30.0     107.0

       plus_minus_away  video_available_away     season_type
59255              -18                     1  Regular Season
59256               -8                     1  Regular Season
59257               -4                     1  Regular Season
59259                9                     1  Regular Season
59260              -19                     1  Regular Season

[5 rows x 55 columns]

C:\Users\Maria\AppData\Local\Temp\ipykernel_10088\3577179761.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game_filtrado['game_date'] = pd.to_datetime(df_game_filtrado['game_date'])

In [47]:
# Verificar valores nulos restantes en todo el DataFrame
print("Valores nulos restantes:")
print(df_game_filtrado2.isnull().sum())

Valores nulos restantes:
season_id                 0
team_id_home              0
team_abbreviation_home    0
team_name_home            0
game_id                   0
game_date                 0
matchup_home              0
wl_home                   0
min                       0
fgm_home                  0
fga_home                  0
fg_pct_home               0
fg3m_home                 0
fg3a_home                 0
fg3_pct_home              0
ftm_home                  0
fta_home                  0
ft_pct_home               0
oreb_home                 0
dreb_home                 0
reb_home                  0
ast_home                  0
stl_home                  0
blk_home                  0
tov_home                  0
pf_home                   0
pts_home                  0
plus_minus_home           0
video_available_home      0
team_id_away              0
team_abbreviation_away    0
team_name_away            0
matchup_away              0
wl_away                   0
fgm_away                  0
fga_away                  0
fg_pct_away               0
fg3m_away                 0
fg3a_away                 0
fg3_pct_away              0
ftm_away                  0
fta_away                  0
ft_pct_away               0
oreb_away                 0
dreb_away                 0
reb_away                  0
ast_away                  0
stl_away                  0
blk_away                  0
tov_away                  0
pf_away                   0
pts_away                  0
plus_minus_away           0
video_available_away      0
season_type               0
dtype: int64

In [48]:
df_game_filtrado2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2041 entries, 59255 to 65695
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               2041 non-null   int64
 1   team_id_home            2041 non-null   int64
 2   team_abbreviation_home  2041 non-null   object
 3   team_name_home          2041 non-null   object
 4   game_id                 2041 non-null   int64
 5   game_date               2041 non-null   datetime64[ns]
 6   matchup_home            2041 non-null   object
 7   wl_home                 2041 non-null   object
 8   min                     2041 non-null   int64
 9   fgm_home                2041 non-null   float64
 10  fga_home                2041 non-null   float64
 11  fg_pct_home             2041 non-null   float64
 12  fg3m_home               2041 non-null   float64
 13  fg3a_home               2041 non-null   float64
 14  fg3_pct_home            2041 non-null   float64
 15  ftm_home                2041 non-null   float64
 16  fta_home                2041 non-null   float64
 17  ft_pct_home             2041 non-null   float64
 18  oreb_home               2041 non-null   float64
 19  dreb_home               2041 non-null   float64
 20  reb_home                2041 non-null   float64
 21  ast_home                2041 non-null   float64
 22  stl_home                2041 non-null   float64
 23  blk_home                2041 non-null   float64
 24  tov_home                2041 non-null   float64
 25  pf_home                 2041 non-null   float64
 26  pts_home                2041 non-null   float64
 27  plus_minus_home         2041 non-null   int64
 28  video_available_home    2041 non-null   int64
 29  team_id_away            2041 non-null   int64
 30  team_abbreviation_away  2041 non-null   object
 31  team_name_away          2041 non-null   object
 32  matchup_away            2041 non-null   object
 33  wl_away                 2041 non-null   object
 34  fgm_away                2041 non-null   float64
 35  fga_away                2041 non-null   float64
 36  fg_pct_away             2041 non-null   float64
 37  fg3m_away               2041 non-null   float64
 38  fg3a_away               2041 non-null   float64
 39  fg3_pct_away            2041 non-null   float64
 40  ftm_away                2041 non-null   float64
 41  fta_away                2041 non-null   float64
 42  ft_pct_away             2041 non-null   float64
 43  oreb_away               2041 non-null   float64
 44  dreb_away               2041 non-null   float64
 45  reb_away                2041 non-null   float64
 46  ast_away                2041 non-null   float64
 47  stl_away                2041 non-null   float64
 48  blk_away                2041 non-null   float64
 49  tov_away                2041 non-null   float64
 50  pf_away                 2041 non-null   float64
 51  pts_away                2041 non-null   float64
 52  plus_minus_away         2041 non-null   int64
 53  video_available_away    2041 non-null   int64
 54  season_type             2041 non-null   object
dtypes: datetime64[ns](1), float64(36), int64(9), object(9)
memory usage: 892.9+ KB

Vamos a chequear y ajustar los formatos de texto de las columnas

In [49]:
# Para las columnas con decimales, indicamos que redondee a 2 decimales:

#df_game_filtrado2['new_recovered'] = df_game_filtrado2['new_recovered'].round(2)

Ajustamos los formatos de las columnas con numeros enteros

In [51]:
# Procedemos a asignar el tipo de dato entero a algunas columnas:

# Lista de columnas a convertir
columns_to_convert_home = [
    'fgm_home', 'fga_home', 'fg3m_home', 'fg3a_home', 'ftm_home', 'fta_home', 
    'oreb_home', 'dreb_home', 'reb_home', 'ast_home', 'stl_home', 'blk_home', 
    'tov_home', 'pf_home', 'pts_home'
]

# Convertir cada columna a int
df_game_filtrado2[columns_to_convert_home] = df_game_filtrado2[columns_to_convert_home].astype(int)

C:\Users\Maria\AppData\Local\Temp\ipykernel_10088\4107922953.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game_filtrado2[columns_to_convert_home] = df_game_filtrado2[columns_to_convert_home].astype(int)

In [52]:
df_game_filtrado2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2041 entries, 59255 to 65695
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               2041 non-null   int64
 1   team_id_home            2041 non-null   int64
 2   team_abbreviation_home  2041 non-null   object
 3   team_name_home          2041 non-null   object
 4   game_id                 2041 non-null   int64
 5   game_date               2041 non-null   datetime64[ns]
 6   matchup_home            2041 non-null   object
 7   wl_home                 2041 non-null   object
 8   min                     2041 non-null   int64
 9   fgm_home                2041 non-null   int64
 10  fga_home                2041 non-null   int64
 11  fg_pct_home             2041 non-null   float64
 12  fg3m_home               2041 non-null   int64
 13  fg3a_home               2041 non-null   int64
 14  fg3_pct_home            2041 non-null   float64
 15  ftm_home                2041 non-null   int64
 16  fta_home                2041 non-null   int64
 17  ft_pct_home             2041 non-null   float64
 18  oreb_home               2041 non-null   int64
 19  dreb_home               2041 non-null   int64
 20  reb_home                2041 non-null   int64
 21  ast_home                2041 non-null   int64
 22  stl_home                2041 non-null   int64
 23  blk_home                2041 non-null   int64
 24  tov_home                2041 non-null   int64
 25  pf_home                 2041 non-null   int64
 26  pts_home                2041 non-null   int64
 27  plus_minus_home         2041 non-null   int64
 28  video_available_home    2041 non-null   int64
 29  team_id_away            2041 non-null   int64
 30  team_abbreviation_away  2041 non-null   object
 31  team_name_away          2041 non-null   object
 32  matchup_away            2041 non-null   object
 33  wl_away                 2041 non-null   object
 34  fgm_away                2041 non-null   float64
 35  fga_away                2041 non-null   float64
 36  fg_pct_away             2041 non-null   float64
 37  fg3m_away               2041 non-null   float64
 38  fg3a_away               2041 non-null   float64
 39  fg3_pct_away            2041 non-null   float64
 40  ftm_away                2041 non-null   float64
 41  fta_away                2041 non-null   float64
 42  ft_pct_away             2041 non-null   float64
 43  oreb_away               2041 non-null   float64
 44  dreb_away               2041 non-null   float64
 45  reb_away                2041 non-null   float64
 46  ast_away                2041 non-null   float64
 47  stl_away                2041 non-null   float64
 48  blk_away                2041 non-null   float64
 49  tov_away                2041 non-null   float64
 50  pf_away                 2041 non-null   float64
 51  pts_away                2041 non-null   float64
 52  plus_minus_away         2041 non-null   int64
 53  video_available_away    2041 non-null   int64
 54  season_type             2041 non-null   object
dtypes: datetime64[ns](1), float64(21), int64(24), object(9)
memory usage: 892.9+ KB

In [53]:
# Procedemos a asignar el tipo de dato entero a algunas columnas:

# Lista de columnas a convertir
columns_to_convert_away = [
    'fgm_away', 'fga_away', 'fg3m_away', 'fg3a_away', 'ftm_away', 'fta_away', 
    'oreb_away', 'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 
    'tov_away', 'pf_away', 'pts_away'
]

# Convertir cada columna a int
df_game_filtrado2[columns_to_convert_away] = df_game_filtrado2[columns_to_convert_away].astype(int)

C:\Users\Maria\AppData\Local\Temp\ipykernel_10088\3199151192.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game_filtrado2[columns_to_convert_away] = df_game_filtrado2[columns_to_convert_away].astype(int)

In [54]:
df_game_filtrado2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2041 entries, 59255 to 65695
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               2041 non-null   int64
 1   team_id_home            2041 non-null   int64
 2   team_abbreviation_home  2041 non-null   object
 3   team_name_home          2041 non-null   object
 4   game_id                 2041 non-null   int64
 5   game_date               2041 non-null   datetime64[ns]
 6   matchup_home            2041 non-null   object
 7   wl_home                 2041 non-null   object
 8   min                     2041 non-null   int64
 9   fgm_home                2041 non-null   int64
 10  fga_home                2041 non-null   int64
 11  fg_pct_home             2041 non-null   float64
 12  fg3m_home               2041 non-null   int64
 13  fg3a_home               2041 non-null   int64
 14  fg3_pct_home            2041 non-null   float64
 15  ftm_home                2041 non-null   int64
 16  fta_home                2041 non-null   int64
 17  ft_pct_home             2041 non-null   float64
 18  oreb_home               2041 non-null   int64
 19  dreb_home               2041 non-null   int64
 20  reb_home                2041 non-null   int64
 21  ast_home                2041 non-null   int64
 22  stl_home                2041 non-null   int64
 23  blk_home                2041 non-null   int64
 24  tov_home                2041 non-null   int64
 25  pf_home                 2041 non-null   int64
 26  pts_home                2041 non-null   int64
 27  plus_minus_home         2041 non-null   int64
 28  video_available_home    2041 non-null   int64
 29  team_id_away            2041 non-null   int64
 30  team_abbreviation_away  2041 non-null   object
 31  team_name_away          2041 non-null   object
 32  matchup_away            2041 non-null   object
 33  wl_away                 2041 non-null   object
 34  fgm_away                2041 non-null   int64
 35  fga_away                2041 non-null   int64
 36  fg_pct_away             2041 non-null   float64
 37  fg3m_away               2041 non-null   int64
 38  fg3a_away               2041 non-null   int64
 39  fg3_pct_away            2041 non-null   float64
 40  ftm_away                2041 non-null   int64
 41  fta_away                2041 non-null   int64
 42  ft_pct_away             2041 non-null   float64
 43  oreb_away               2041 non-null   int64
 44  dreb_away               2041 non-null   int64
 45  reb_away                2041 non-null   int64
 46  ast_away                2041 non-null   int64
 47  stl_away                2041 non-null   int64
 48  blk_away                2041 non-null   int64
 49  tov_away                2041 non-null   int64
 50  pf_away                 2041 non-null   int64
 51  pts_away                2041 non-null   int64
 52  plus_minus_away         2041 non-null   int64
 53  video_available_away    2041 non-null   int64
 54  season_type             2041 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(39), object(9)
memory usage: 892.9+ KB

In [55]:
# Verificar valores nulos restantes en todo el DataFrame

Cant_Column_Null = df_game_filtrado2.isna().sum()

Solo_Column_Con_Nulos = Cant_Column_Null[Cant_Column_Null>0].index
print(Solo_Column_Con_Nulos)

Index([], dtype='object')

Ajustamos el formato de las columnas con valores decimales (porcentajes)

In [57]:
# Procedemos a asignar el tipo de dato decimal a algunas columnas:

# Lista de columnas a convertir
columns_to_convert_pct = [
    'fg_pct_home', 'fg3_pct_home', 'ft_pct_home', 'fg_pct_away','fg3_pct_away', 'ft_pct_away'
]


# Formatear las columnas a 4 decimales como n칰meros (sin convertir a texto)
df_game_filtrado2[columns_to_convert_pct] = df_game_filtrado2[columns_to_convert_pct].astype(float).round(4)

C:\Users\Maria\AppData\Local\Temp\ipykernel_10088\815469132.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game_filtrado2[columns_to_convert_pct] = df_game_filtrado2[columns_to_convert_pct].astype(float).round(4)

In [58]:
print(df_game_filtrado2[columns_to_convert_pct].head())

       fg_pct_home  fg3_pct_home  ft_pct_home  fg_pct_away  fg3_pct_away  \
59255        0.433         0.297        0.714        0.391         0.192
59256        0.442         0.269        0.944        0.363         0.270
59257        0.430         0.440        0.724        0.429         0.316
59259        0.398         0.286        0.833        0.379         0.333
59260        0.455         0.364        0.774        0.456         0.278

       ft_pct_away
59255        0.609
59256        0.649
59257        0.889
59259        0.786
59260        0.833

In [54]:
#Generar estad칤sticas descriptivas para todas las columnas
df_game_filtrado_check = df_game_filtrado2.describe(include='all')

# Redondear los valores num칠ricos a 2 decimales
df_game_filtrado_check = df_game_filtrado_check.round(2)

# Mostrar el DataFrame ajustado
print(df_game_filtrado_check)

       season_id  team_id_home  team_abbreviation_home  team_name_home  \
count       8.00  8.000000e+00                    4.00            4.00
mean    16296.15  9.991658e+08                  512.50          512.50
std     13393.05  6.834543e+08                 1019.00         1019.00
min         8.00  8.000000e+00                    1.00            1.00
25%      8385.79  5.591763e+08                    3.25            3.25
50%     15695.72  1.207960e+09                    4.00            4.00
75%     22111.26  1.610613e+09                  513.25          513.25
max     42022.00  1.610613e+09                 2041.00         2041.00

           game_id  game_date  matchup_home  wl_home      min  fgm_home  ...  \
count         8.00        4.0          4.00     4.00     8.00      8.00  ...
mean   16096841.42      514.0        512.50   512.50   487.75    396.57  ...
std    13750642.29     1018.0       1019.00  1019.00   662.56    706.87  ...
min           8.00        1.0          1.00     1.00     7.63      5.27  ...
25%     7864950.43        5.5          3.25     3.25   182.00     26.75  ...
50%    15809307.62        7.0          4.00     4.00   253.22     44.88  ...
75%    22092199.72      515.5        513.25   513.25   499.15    392.10  ...
max    42200405.00     2041.0       2041.00  2041.00  2041.00   2041.00  ...

       reb_away  ast_away  stl_away  blk_away  tov_away  pf_away  pts_away  \
count      8.00      8.00      8.00      8.00      8.00     8.00      8.00
mean     398.08    389.30    381.59    380.52    384.90   387.68    427.68
std      705.99    711.15    715.79    716.44    713.78   712.11    689.66
min        6.66      4.98      0.00      0.00      3.00     4.32      8.00
25%       28.44     15.12      6.57      4.40      8.93    13.62     74.34
50%       48.26     27.38      9.75      8.00     17.14    23.12    118.29
75%      393.84    384.09    375.84    374.60    379.30   382.21    427.09
max     2041.00   2041.00   2041.00   2041.00   2041.00  2041.00   2041.00

       plus_minus_away  video_available_away  season_type
count             8.00                  8.00         4.00
mean            371.98                378.65       512.50
std             722.29                717.59      1019.00
min             -73.00                  0.00         1.00
25%               0.96                  1.00         3.25
50%              16.52                  4.50         4.00
75%             371.18                372.24       513.25
max            2041.00               2041.00      2041.00

[8 rows x 55 columns]

In [59]:
# Guardar los datos filtrados en un archivo con el nombre GameFiltrado.csv a fin de poder utilizarlo luego

# Guardar el archivo con un separador decimal compatible con tu configuraci칩n regional
df_game_filtrado2.to_csv('GameFiltrado.csv', index=False, float_format="%.4f")

# Confirmaci칩n
print("Archivo guardado exitosamente como 'GameFiltrado.csv'")

Archivo guardado exitosamente como 'GameFiltrado.csv'

# Generar estad칤sticas descriptivas para todas las columnas
descripcion_df = df_relleno2.describe(include='all')

# Redondear los valores num칠ricos a 2 decimales
descripcion_df = descripcion_df.round(2)

# Mostrar el DataFrame ajustado
print(descripcion_df)

# 11 - Comparaci칩n con pandas directamente
print("\nValidaci칩n usando pandas.describe():")
print(df_relleno2.describe())