In [61]:
#Archivo creado y bibliotecas importadas:

import pandas as pd
import numpy as np

In [62]:
# Leer el archivo de trabajo:

df_salario = pd.read_csv('Salario-Jugadores-NBA-2018-2025.csv')

In [63]:
# Para comprobar que cantidad de registros y columnas tiene el dataset cargado:

df_salario.shape

(4081, 4)

In [64]:
# Una vez cargado el dataset, y comprobado su tamaño, se procede a verificar el contenido con una vista truncada:
df_salario.head()

,Temporada,Jugador,Salario,Salario Actual Ajustado a la Inflación
0,2018/19,Stephen Curry,"37,457,154","46,700,853"
1,2018/19,Russell Westbrook,"35,665,000","44,466,430"
2,2018/19,LeBron James,"35,654,150","44,452,903"
3,2018/19,Chris Paul,"35,654,150","44,452,903"
4,2018/19,Kyle Lowry,"32,700,000","40,769,726"

In [65]:
df_salario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4081 entries, 0 to 4080
Data columns (total 4 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Temporada                               4081 non-null   object
 1   Jugador                                 4081 non-null   object
 2   Salario                                 4081 non-null   object
 3   Salario Actual Ajustado a la Inflación  4081 non-null   object
dtypes: object(4)
memory usage: 127.7+ KB

In [66]:
print(df_salario['Temporada'].unique())

['2018/19\xa0' '2019/20\xa0' '2020/21\xa0' '2021/22\xa0' '2022/23\xa0'
 '2023/24\xa0' '2024/25\xa0']

In [67]:
# Reemplazar el carácter \xa0 por un espacio vacío en la columna "Temporada"
df_salario['Temporada'] = df_salario['Temporada'].str.replace('\xa0', '', regex=True)

# Verifica los valores únicos nuevamente
print(df_salario['Temporada'].unique())

['2018/19' '2019/20' '2020/21' '2021/22' '2022/23' '2023/24' '2024/25']

In [68]:
# Lista de temporadas a filtrar
temporadas_filtrar = ['2018/19', '2019/20', '2020/21', '2021/22', '2022/23']

# Filtrar el DataFrame por las temporadas específicas
df_salario_filtrado_temporada = df_salario[df_salario['Temporada'].isin(temporadas_filtrar)]

# Verificar el resultado
print(df_salario_filtrado_temporada.head())

  Temporada            Jugador     Salario  \
0   2018/19      Stephen Curry  37,457,154
1   2018/19  Russell Westbrook  35,665,000
2   2018/19       LeBron James  35,654,150
3   2018/19         Chris Paul  35,654,150
4   2018/19         Kyle Lowry  32,700,000

  Salario Actual Ajustado a la Inflación
0                             46,700,853
1                             44,466,430
2                             44,452,903
3                             44,452,903
4                             40,769,726

In [69]:
# Para comprobar que cantidad de registros y columnas tiene el dataset cargado:

df_salario_filtrado_temporada.shape

(2896, 4)

In [70]:
# Crear una nueva columna con el año inicial de la temporada
df_salario_filtrado_temporada['Año'] = df_salario_filtrado_temporada['Temporada'].str.slice(0, 4)

# Verifica el resultado
print(df_salario_filtrado_temporada[['Temporada', 'Año']].head())

  Temporada   Año
0   2018/19  2018
1   2018/19  2018
2   2018/19  2018
3   2018/19  2018
4   2018/19  2018

C:\Users\Maria\AppData\Local\Temp\ipykernel_23384\3953349790.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salario_filtrado_temporada['Año'] = df_salario_filtrado_temporada['Temporada'].str.slice(0, 4)

In [71]:
# Lista de las columnas a convertir
columnas_a_convertir = ['Salario', 'Salario Actual Ajustado a la Inflación']

for columna in columnas_a_convertir:
    # Limpia los valores eliminando caracteres no deseados como '$' o comas
    df_salario_filtrado_temporada[columna] = df_salario_filtrado_temporada[columna].str.replace('$', '', regex=True)  # Elimina el signo $
    df_salario_filtrado_temporada[columna] = df_salario_filtrado_temporada[columna].str.replace(',', '', regex=True)  # Elimina las comas
    df_salario_filtrado_temporada[columna] = df_salario_filtrado_temporada[columna].str.strip()  # Elimina espacios en blanco adicionales
    
    # Convierte los valores a números enteros
    df_salario_filtrado_temporada[columna] = pd.to_numeric(df_salario_filtrado_temporada[columna], errors='coerce').fillna(0).astype(int)

# Confirma que las columnas tienen ahora el tipo de datos correcto
print(df_salario_filtrado_temporada[columnas_a_convertir].dtypes)

# Vista previa de las columnas después de la conversión
print(df_salario_filtrado_temporada[columnas_a_convertir].head())

Salario                                   int64
Salario Actual Ajustado a la Inflación    int64
dtype: object
    Salario  Salario Actual Ajustado a la Inflación
0  37457154                                46700853
1  35665000                                44466430
2  35654150                                44452903
3  35654150                                44452903
4  32700000                                40769726

C:\Users\Maria\AppData\Local\Temp\ipykernel_23384\4092835358.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salario_filtrado_temporada[columna] = df_salario_filtrado_temporada[columna].str.replace('$', '', regex=True)  # Elimina el signo $
C:\Users\Maria\AppData\Local\Temp\ipykernel_23384\4092835358.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salario_filtrado_temporada[columna] = df_salario_filtrado_temporada[columna].str.replace(',', '', regex=True)  # Elimina las comas
C:\Users\Maria\AppData\Local\Temp\ipykernel_23384\4092835358.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salario_filtrado_temporada[columna] = df_salario_filtrado_temporada[columna].str.strip()  # Elimina espacios en blanco adicionales
C:\Users\Maria\AppData\Local\Temp\ipykernel_23384\4092835358.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salario_filtrado_temporada[columna] = pd.to_numeric(df_salario_filtrado_temporada[columna], errors='coerce').fillna(0).astype(int)
C:\Users\Maria\AppData\Local\Temp\ipykernel_23384\4092835358.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salario_filtrado_temporada[columna] = df_salario_filtrado_temporada[columna].str.replace('$', '', regex=True)  # Elimina el signo $
C:\Users\Maria\AppData\Local\Temp\ipykernel_23384\4092835358.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salario_filtrado_temporada[columna] = df_salario_filtrado_temporada[columna].str.replace(',', '', regex=True)  # Elimina las comas
C:\Users\Maria\AppData\Local\Temp\ipykernel_23384\4092835358.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salario_filtrado_temporada[columna] = df_salario_filtrado_temporada[columna].str.strip()  # Elimina espacios en blanco adicionales
C:\Users\Maria\AppData\Local\Temp\ipykernel_23384\4092835358.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salario_filtrado_temporada[columna] = pd.to_numeric(df_salario_filtrado_temporada[columna], errors='coerce').fillna(0).astype(int)