In [1]:
import pandas as pd
import numpy as np

In [2]:
df_stats = pd.read_csv('NBA_Player_Stats_Advanced_Combined_Filtrado.csv')

In [3]:


# Agregar una nueva columna 'id_stats' con una serie incremental
df_stats['id_stats'] = range(1, len(df_stats) + 1)

# Ahora puedes establecer la columna 'id_stats' como clave primaria
df_stats.set_index('id_stats', inplace=True)

In [4]:
df = pd.read_csv('TeamOriginal.csv')

In [5]:
# Renombrar columna id
df.rename(columns={'id': 'team_id'}, inplace=True)

In [6]:
# Reemplazar los valores en la columna 'Team'
df_stats['Team'] = df_stats['Team'].replace({'PHO': 'PHX', 'CHO': 'CHA', 'BRK': 'BKN'})

In [7]:
# Realizar un merge para asignar 'team_id' de teamFiltrado.csv a df_Stats_adv_filt_2018

df_stats = df_stats.merge(
    df[['abbreviation', 'team_id']],  # Selecciona columnas relevantes
    left_on='Team',  # Columna en df_Stats_adv_filt_2018
    right_on='abbreviation',  # Columna en team
    how='left'  # Combinar mediante un LEFT JOIN para mantener todas las filas de df_Stats_adv_filt_2018
)

# Verificar el resultado
print(df_stats.head())

   Rk              Player  Age Team Pos   G  GS    MP   PER    TS%  ...  BPM  \
0   5         Paul George   28  OKC  SF  77  77  2841  23.3  0.583  ...  7.2
1  12        Steven Adams   25  OKC   C  80  80  2669  18.5  0.591  ...  1.1
2  16   Russell Westbrook   30  OKC  PG  73  73  2630  21.1  0.501  ...  5.2
3  19        Jerami Grant   24  OKC  PF  80  77  2612  13.8  0.592  ...  0.2
4  29  Karl-Anthony Towns   23  MIN   C  77  77  2545  26.3  0.622  ...  6.0

   VORP             Awards  Player-additional  Temporada       id  \
0   6.6  MVP-3DPOY-3ASNBA1          georgpa01       2018   202331
1   2.1                  0          adamsst01       2018   203500
2   4.7       MVP-10ASNBA3          westbru01       2018   201566
3   1.5                  0          grantje01       2018   203924
4   5.1                 AS          townska01       2018  1626157

            Player_Temporada     Salario  abbreviation       team_id
0         Paul George - 2018  30560700.0           OKC  1.610613e+09
1        Steven Adams - 2018  24157304.0           OKC  1.610613e+09
2   Russell Westbrook - 2018  35665000.0           OKC  1.610613e+09
3        Jerami Grant - 2018   8333333.0           OKC  1.610613e+09
4  Karl-Anthony Towns - 2018   7839435.0           MIN  1.610613e+09

[5 rows x 36 columns]

In [8]:
# Definir los valores a eliminar
valores_a_eliminar = ['4TM', '3TM', '2TM']

# Filtrar el DataFrame para eliminar los registros con esos valores en la columna 'Team'
df_stats_filtrado = df_stats[~df_stats['Team'].isin(valores_a_eliminar)]



print("Los registros con los valores '4TM', '3TM' y '2TM' en la columna 'Team' han sido eliminados.")

Los registros con los valores '4TM', '3TM' y '2TM' en la columna 'Team' han sido eliminados.

In [9]:
df_stats_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 617 entries, 0 to 723
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rk                 617 non-null    int64
 1   Player             617 non-null    object
 2   Age                617 non-null    int64
 3   Team               617 non-null    object
 4   Pos                617 non-null    object
 5   G                  617 non-null    int64
 6   GS                 617 non-null    int64
 7   MP                 617 non-null    int64
 8   PER                617 non-null    float64
 9   TS%                617 non-null    float64
 10  3PAr               617 non-null    float64
 11  FTr                617 non-null    float64
 12  ORB%               617 non-null    float64
 13  DRB%               617 non-null    float64
 14  TRB%               617 non-null    float64
 15  AST%               617 non-null    float64
 16  STL%               617 non-null    float64
 17  BLK%               617 non-null    float64
 18  TOV%               617 non-null    float64
 19  USG%               617 non-null    float64
 20  OWS                617 non-null    float64
 21  DWS                617 non-null    float64
 22  WS                 617 non-null    float64
 23  WS/48              617 non-null    float64
 24  OBPM               617 non-null    float64
 25  DBPM               617 non-null    float64
 26  BPM                617 non-null    float64
 27  VORP               617 non-null    float64
 28  Awards             617 non-null    object
 29  Player-additional  617 non-null    object
 30  Temporada          617 non-null    int64
 31  id                 617 non-null    int64
 32  Player_Temporada   617 non-null    object
 33  Salario            420 non-null    float64
 34  abbreviation       617 non-null    object
 35  team_id            617 non-null    float64
dtypes: float64(22), int64(7), object(7)
memory usage: 178.4+ KB

In [10]:
# Cambiar a formato entero la columna team id
df_stats_filtrado['team_id'] = df_stats_filtrado['team_id'].astype(int)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_6980\4011025067.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stats_filtrado['team_id'] = df_stats_filtrado['team_id'].astype(int)

In [11]:
df_stats_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 617 entries, 0 to 723
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rk                 617 non-null    int64
 1   Player             617 non-null    object
 2   Age                617 non-null    int64
 3   Team               617 non-null    object
 4   Pos                617 non-null    object
 5   G                  617 non-null    int64
 6   GS                 617 non-null    int64
 7   MP                 617 non-null    int64
 8   PER                617 non-null    float64
 9   TS%                617 non-null    float64
 10  3PAr               617 non-null    float64
 11  FTr                617 non-null    float64
 12  ORB%               617 non-null    float64
 13  DRB%               617 non-null    float64
 14  TRB%               617 non-null    float64
 15  AST%               617 non-null    float64
 16  STL%               617 non-null    float64
 17  BLK%               617 non-null    float64
 18  TOV%               617 non-null    float64
 19  USG%               617 non-null    float64
 20  OWS                617 non-null    float64
 21  DWS                617 non-null    float64
 22  WS                 617 non-null    float64
 23  WS/48              617 non-null    float64
 24  OBPM               617 non-null    float64
 25  DBPM               617 non-null    float64
 26  BPM                617 non-null    float64
 27  VORP               617 non-null    float64
 28  Awards             617 non-null    object
 29  Player-additional  617 non-null    object
 30  Temporada          617 non-null    int64
 31  id                 617 non-null    int64
 32  Player_Temporada   617 non-null    object
 33  Salario            420 non-null    float64
 34  abbreviation       617 non-null    object
 35  team_id            617 non-null    int64
dtypes: float64(21), int64(8), object(7)
memory usage: 178.4+ KB

In [12]:
# Guardar el DataFrame modificado en un nuevo archivo CSV
df_stats_filtrado.to_csv('Player_stats_advanced.csv', index=False)

# Other Stats

In [13]:
df_other_stats = pd.read_csv('other_stats.csv')

In [18]:
# Agregar una nueva columna 'id_other_stats' con una serie incremental
df_other_stats['id_other_stats'] = range(1, len(df_other_stats) + 1)

# Ahora puedes establecer la columna 'id_stats' como clave primaria
df_other_stats.set_index('id_other_stats', inplace=True)

In [22]:
df_other_stats.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1736 entries, 1 to 1736
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 1736 non-null   int64
 1   league_id               1736 non-null   int64
 2   team_id_home            1736 non-null   int64
 3   team_abbreviation_home  1736 non-null   object
 4   team_city_home          1736 non-null   object
 5   pts_paint_home          1736 non-null   int64
 6   pts_2nd_chance_home     1736 non-null   int64
 7   pts_fb_home             1736 non-null   int64
 8   largest_lead_home       1736 non-null   int64
 9   lead_changes            1736 non-null   int64
 10  times_tied              1736 non-null   int64
 11  team_turnovers_home     1736 non-null   int64
 12  total_turnovers_home    1736 non-null   int64
 13  team_rebounds_home      1736 non-null   int64
 14  pts_off_to_home         1736 non-null   int64
 15  team_id_away            1736 non-null   int64
 16  team_abbreviation_away  1736 non-null   object
 17  team_city_away          1736 non-null   object
 18  pts_paint_away          1736 non-null   int64
 19  pts_2nd_chance_away     1736 non-null   int64
 20  pts_fb_away             1736 non-null   int64
 21  largest_lead_away       1736 non-null   int64
 22  team_turnovers_away     1736 non-null   int64
 23  total_turnovers_away    1736 non-null   int64
 24  team_rebounds_away      1736 non-null   int64
 25  pts_off_to_away         1736 non-null   int64
dtypes: int64(22), object(4)
memory usage: 366.2+ KB

In [23]:
# Guardar el DataFrame modificado en un nuevo archivo CSV
df_other_stats.to_csv('other_stats1.csv', index=True)

In [25]:
dfp = pd.read_csv('Player_stats_advanced.csv')

In [26]:
# Agregar una nueva columna 'id_stats' con una serie incremental
dfp['id_stats'] = range(1, len(dfp) + 1)

# Ahora puedes establecer la columna 'id_stats' como clave primaria
dfp.set_index('id_stats', inplace=True)

In [27]:
# Guardar el DataFrame modificado en un nuevo archivo CSV
dfp.to_csv('Player_stats_advanced.csv', index=True)

# Datos de mercado

In [28]:
df_datos_mercado = pd.read_csv('Datos_Mercado.csv')

In [29]:
# Agregar una nueva columna 'id_dato' con una serie incremental
df_datos_mercado['id_dato'] = range(1, len(df_datos_mercado) + 1)

# Ahora puedes establecer la columna 'id_dato' como clave primaria
df_datos_mercado.set_index('id_dato', inplace=True)

In [31]:
df_datos_mercado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 1 to 10
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temporada       10 non-null     int64
 1   Id_equipo       10 non-null     int64
 2   Equipo          10 non-null     object
 3   Valor ($M)      10 non-null     object
 4   Ingresos ($M)   10 non-null     object
 5   Ganancias ($M)  10 non-null     object
 6   Mercado         10 non-null     object
dtypes: int64(2), object(5)
memory usage: 640.0+ bytes

In [34]:
# Guardar el DataFrame modificado en un nuevo archivo CSV
df_datos_mercado.to_csv('Datos_Mercado.csv', index=True)